* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/** HEADER */
.genA {
  background-color: white;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.navList {
  display: flex;
}

.listContainer {
  margin: 0 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.listContainer:hover {
  border-bottom: 4px solid blue;
}

.listContainer:hover .headerA {
  color: blue;
}

.logo img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

/**** JUMBOTRON ***/
.genB {
  width: 100%;
}

.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.currentSeries {
  width: 200px;
  height: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: -25px;
  left: 125px;
}

/**** MAIN ***/
main {
  background-color: black;
}

.containerComic {
  padding: 40px;
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.comicCard {
  width: 16.6666666667%;
  text-align: center;
  padding: 10px;
  color: white;
}

/**** BLUE BAR ***/
.genZ {
  background-color: rgb(2, 130, 249);
  width: 100%;
}
.genZ nav {
  background-color: rgb(2, 130, 249);
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding: 3rem;
}
.genZ nav div {
  display: flex;
  width: 20%;
  align-items: center;
}
.genZ nav div img {
  width: 50px;
  height: 60px;
}
.genZ nav div span p {
  margin-left: 10px;
  font-size: 0.8rem;
}

p {
  color: white;
}

/**** FOOTER ***/
.genC {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.leftLi, .rightLi, .fullRightLi h3 {
  color: white;
}
.leftLi ul, .rightLi ul, .fullRightLi h3 ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style: none;
  color: gray;
}

.flex {
  display: flex;
  width: 90%;
  margin: auto;
}

.flex div {
  padding: 1rem;
}

.dcBg {
  width: 400px;
  background-image: url(../img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 300px;
}

/**** SOCIAL ***/
.genD {
  background-color: black;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  padding: 20px;
}
.social img {
  width: 30px;
  height: 30px;
}
.social a {
  text-decoration: none;
  color: blue;
}

.btn {
  display: flex;
  align-items: center;
  padding: 20px;
}
.btn button {
  padding: 1rem;
  border: 3px solid blue;
  color: white;
  background-color: black;
}

.container {
  width: 90%;
  margin: auto;
}